@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat";
    src: url("lib/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat";
}